pandas
requests
beautifulsoup4
ipykernel
fastparquet
tldextract
tqdm
openpyxl
fake-useragent
cloudscraper

selenium
blinker
selenium-wire
webdriver-manager

pillow
cairosvg
lxml

numpy
matplotlib
scikit-learn
plotly
umap-learn